@model cs330215MIS4200_1045_sp20.Models.PetDetails

@{
    ViewBag.Title = "Pet Details Details";
}

<h2>Details</h2>

<div>
    <h4>PetDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owners.ownerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owners.ownerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pets.petName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pets.petName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.petOwnerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
