@model IEnumerable<cs330215MIS4200_1045_sp20.Models.PetDetails>

@{
    ViewBag.Title = "Pet Details Index";
}

<h2>Pet Details Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Owners.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pets.petName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Owners.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pets.petName)

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.petOwnerID }) |
                @Html.ActionLink("Details", "Details", new { id = item.petOwnerID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.petOwnerID })
            </td>
        </tr>
    }

</table>
